body{
	margin: 0;
	color: #777;
  font-size: 16px;
  background: url('../images/blue-bg.jpg');
  font-family: "Times New Roman", Times, serif;
}
.navbar{
    margin-bottom: 0px!important;
    background: #fff!important;
    font-size: 1.2em!important;
} 

.navbar-brand {
    background: #4aaaa5;
    color: #fff!important;
    }
.navbar-default .navbar-brand:hover{
     background-color: #4aaaa5!important;
    color: #fff!important;
}

a:hover, a:visited, a:link {
	text-decoration: none;
}

#container {
	width: 100%;
	margin: 0 auto;
}
.bout {
    background: #fff;
}

header {
  background: #ffffff;
  width: 100%;
  margin: 0 auto;
  border-bottom: 2px solid #ccc;
}

.container-nav {
	width: 76%;
	margin: 0 auto;
}
.name {
    width: 25%;
    display: inline-block;
    padding: .8em;
    background: #4aaaa5;
    text-align: center;
    color: #fff;
    font-size: 27px;
    font-weight: 700;
}

.menu {
    width: 50%;
    float: right;
    font-size: 18px;
		padding: 1.3em;
}

.menu ul>li {
		float: left;
		padding: .1em 1em;
		list-style: none;
		font-size: 18px;
		border-right: 1px solid rgba(51, 51, 51, 0.09);
}

.menu ul>li:last-child {
    border-right: none;
}

.menu ul>li a:hover, .menu ul>li a:visited,
.menu ul>li a:link {
	color: #777;
}

.menu ul {
    float: right;
}

.main-sec{
	width:100%;
	margin: 0 auto;
}

section.main-bod {
    width: 100%;
    margin: 0 auto;
}

.inside-bod {
    width: 76%;
    margin: 0 auto;
}

p.first-p {
    width: 60%;
    float: right;
}

.connect, .about h1 {
    border-bottom: 2px solid rgba(119, 119, 119, 0.35);
    color: #4aaaa5;
}

.name a {
    color: #fff;
}

.connect {
	font-size: 20px;
	font-weight: 500;
	border-bottom: 1px solid rgba(119, 119, 119, 0.35)
}

.about-me, .social-list {
    margin-top: 1em;
}

.about, .social {
    background: #fff;
    margin: 2em 0;
    line-height: 2em;
    padding: 15px;
}

.social-list ul {
    text-align: center;
    padding: 0;
}

.social-list ul>li {
    list-style: none;
    width: 33%;
    float: left;
    text-align: justify;
}

.social-list ul>li img {
    width: 79%;
}

footer {
	width:100%;
	margin: 0 auto;
	background: #666;
	border-top: 10px solid #4aaaa5;;
	padding: 2em;
	clear:both;
	text-align: center;
	color: #fff;
}


/**********portfolio css **************/


div.gallery {
    border: 1px solid #ccc;
		max-height: 200px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: 200px;
		cursor: pointer;
}

.desc:hover,
.disc:focus {
    background: rgba(0, 0, 0, 0.53);
    border: rgba(0, 0, 0, 0.53);
}

div.gallery img:hover,
div.gallery img:focus {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.desc {
		padding: 15px;
		text-align: center;
		bottom: 77px;
		position: relative;
		background: #4aaaa5;
		color: #fff;
		cursor: pointer;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 2em 0 0 1em;
    float: left;
    width: 50%;
}


/***************** Contact css *******************/

input[type=text], input[type=email] {
    width: 100%;
    padding: 12px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 20%;
    background-color: #4aaaa5;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

textarea {
		width: 100%;
		height: 200px;
		resize: both;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}
@media only screen and (max-width: 740px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }

		.container-nav, .inside-bod {
			width: 100%;
			margin: 0 auto;
		}
}

@media only screen and (max-width: 450px){
    .responsive, .side-social, .name, .about, .menu{
        width: 100%;
				margin:0 auto;
    }
}
